{# A propos #}
<section class="container-fluid px-lg-5 pb-5">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-3 border-bottom text-color-primary pt-5"><i class="fa-solid fa-terminal me-2"></i>Qui suis-je ?</h2>
        <p class="py-2">{{ user.aPropos }}</p>
    </div>
</section>