{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section>
    <div class="container-fluid bg-light px-lg-5 pb-5">
        <div class="p-3" id="icon-grid">
            <div class="row-cols-1 row-cols-md-2 g-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) comme <strong>{{ app.user.userIdentifier }}</strong>
                        
                        <a class="btn btn-lg btn-primary mt-3" href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                {% endif %}
            
                <h2 class="pb-3 font-weight-normal text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Me connecter</h2>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">
            
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
            
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            
                <button class="btn btn-lg btn-primary mt-3" type="submit">
                    Connexion
                </button>
            </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
