{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue sur fvwebsite.com !
{% endblock %}

{% block body %}
  {% include 'a_propos/a-propos.html.twig' %}
  {% include 'portfolio/portfolio.index.html.twig' %}
  {% include 'technologies/index.html.twig' %}
  {% include 'gestion/home.html.twig' %}
{% endblock %}
