{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section>
    <div class="container-fluid bg-light px-lg-5 pb-5">
        <div class="p-3" id="icon-grid">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div>
                <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Inscription</h2>
                <p>L'inscription est nécessaire pour accéder aux guides et formations.</p>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.a_propos) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="btn btn-primary btn-lg my-3">M'enregistrer</button>
                {{ form_end(registrationForm) }}
                </div>
                <div>
                    <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Connexion</h2>
                    <p class="text-center">Si vous êtes déjà inscrit : </p>
                    <div class="d-grid col-6 mx-auto">
                        <button type="button" class="btn btn-primary">
                            <a class="text-white" href="{{ path('admin') }}#">Mon compte</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}
