<footer class="footer text-center py-2">
    <small class="copyright">Réalisé par</i> by <a href="https://www.fvwebsite.com">fvwebsite.com</a></small>
    <small> - <a href="{{ path('app_mentions') }}"> Mentions légales</a></small>
</footer>