<ul class="nav justify-content-center pb-5" id="pills-tab" role="tablist">
<li class="nav-item" role="presentation">
    <a href="{{ path('app_portfolio_web') }}">
        <button class="nav-link btn mx-2 {% if app.request.attributes.get('_route') == 'app_portfolio_web' %}active-portfolio{% endif %}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Web</button>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="{{ path('app_portfolio_pao') }}">
        <button class="nav-link btn mx-2 {% if app.request.attributes.get('_route') == 'app_portfolio_pao' %}active-portfolio{% endif %}" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">PAO - Art graphique</button>
    </a>
</li>
<li class="nav-item" role="presentation">
    <a href="{{ path('app_portfolio_autre') }}">
        <button class="nav-link btn mx-2 {% if app.request.attributes.get('_route') == 'app_portfolio_autre' %}active-portfolio{% endif %}" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Autres...</button>
    </a>
</li>
</ul>