<header id="header" class="header text-center">	    
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="{{ path('app_home') }}">fvwebsite.com</a></h1>
    
    <nav class="navbar navbar-expand-lg navbar-dark" >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column" >
            <div class="profile-section pt-3 pt-lg-0">
                {# <img class="profile-image mb-3 rounded-circle mx-auto" src="/img/photo-2018.jpg" alt="photo-fv" >		 #}
                <div class="image-fv">
                    <a  href="/img/photo-2018.png">
                        <img class="profile-image mb-3 rounded-circle mx-auto" src="/img/photo-fv-max.jpeg" alt="image-fv" />
                    </a>
                </div>                  
                {# Modale #}
                <div id="modale_fv" class="modal-fv">
                    <span class="close">&times;</span>
                    <div class="modal-fv-content">
                        <img src="" alt="" />
                    </div>
                </div>
                
                <div class="bio mb-3">Consultant web<br>Développeur - Intégrateur web<br>Infographiste</div>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary btn-contact" href="{{ path('app_contact') }}"><i class="fa-regular fa-envelope me-2"></i>Me contacter</a>

                </div>
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://fvwebsite.slack.com" target="_blank"><i class="fab fa-slack fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/fr%C3%A9d%C3%A9ric-vandenplas-92092786/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://gitlab.com/Fvdp" target="_blank"><i class="fab fa-gitlab fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr> 
            </div><!--//profile-section-->
            
            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link 
                        {% set url = app.request.attributes.get('_route') %}
                        {% if url == 'app_home' %}
                            active
                        {% endif %}" 
                        href="{{ path('app_home') }}">
                        <i class="fas fa-home fa-fw me-2"></i>
                        Accueil<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link 
                    {% set  url = app.request.attributes.get('_route') %}
                    {% if url == 'app_portfolio_web' %}
                        active
                    {% elseif url == 'app_portfolio_pao' %}
                        active
                    {% elseif url == 'app_portfolio_autre' %}
                        active
                    {% endif %}" 
                    href="{{ path('app_portfolio_web') }}">
                    <i class="fa-solid fa-display me-2"></i>
                        Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {% set url = app.request.attributes.get('_route') %}
                    {% if url == 'app_gestion' %}
                        active
                    {% endif %}"
                    href="{{ path('app_gestion') }}"><i class="fa-solid fa-cash-register me-2"></i>Gestion - Caisse</a>
                </li>
            </ul>
            

            <div class="guide btn-group dropup mt-2">
                <button type="button" class="btn btn-primary dropdown-toggle text-start" data-bs-toggle="dropdown" aria-expanded="false">
                    Guides & utilisateurs
                </button>
                <ul class="dropdown-menu bg-primary">
                    <li><a class="dropdown-item text-white" href="{{ path('admin') }}#">Mon compte</a></li>
                    <li><a class="dropdown-item text-white" href="{{ path('app_register') }}">Inscription</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-white" href="{{ path('app_guide') }}">Guides et formations</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>