{% extends 'base.html.twig' %}

{% block title %}Portfolio de fvwebsite{% endblock %}

{% block body %}
{# Section portfolio web #}
<section class="container-fluid bg-light px-lg-5 py-lg-3">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Portfolio</h2>
        <div class="album py-2">
            {% include "base/nav-portfolio.html.twig" %}
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for portfolios in portfolioWeb %}
                <div class="col-sm-6 my-3">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                            src="{{ asset(portfolio_images ~ portfolios.file) | imagine_filter('miniature') }}"
                            alt="image_projet"></img>
                        <div class="card-body">
                            <h5 class="card-title">{{ portfolios.nom }}</h5>
                            <p class="card-text">{{ portfolios.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary mt-5 text-white">
                                        <a class="text-white"
                                            href="{{ path('portfolio_details', {'slug': portfolios.slug}) }}">Détails</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center pt-4">
                {% do portfolioWeb.setPageRange(2) %}
                {{ knp_pagination_render(portfolioWeb, 'base/pagination.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}