{# Section portfolio #}
<section class="container-fluid bg-light px-lg-5 pb-5">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Portfolio</h2>
        <p class="py-2">Voici un aperçu des derniers projets en développement ou en production ainsi q'une courte
            sélection de réalisations dans divers domaines.</p>

        <div class="album">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for portfolios in portfolioIndex %}
                <div class="col">
                    <div class="card">
                        <img src="{{ asset(portfolio_images ~ portfolios.file) | imagine_filter('miniature') }}"
                            class="img-fluid rounded-start" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-color-primary">{{ portfolios.nom }}</h5>
                            <p class="card-text">{{ portfolios.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid gap-2 col-md-4 col-xl-2 mx-auto">
                <button class="btn btn-primary mt-5 text-white" type="button"
                    onclick="window.location.href = '{{ path('app_portfolio_web') }}'">Découvrir +</button>
            </div>
        </div>
    </div>
</section>