{% extends 'base.html.twig' %}

{% block title %}Portfolio de fvwebsite{% endblock %}

{% block body %}
{# Section portfolio details #}
<section class="container-fluid bg-light px-lg-5 py-lg-3">
  <div class="p-3" id="icon-grid">
    <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Portfolio</h2>
    <p>Détails du projet</p>
    <div class="album py-2">
      <div class="card shadow-sm text-center">
        <h5 class="card-title pt-2">{{ projet.nom }}</h5>
        <p class="card-text pb-2">{{ projet.description }}</p>
        <ul class="list-group list-group-flush">
          {% if projet.url %}
          <li class="list-group-item">
            <p class="card-text"><i class="fa-solid fa-link mx-2"></i><a href="https://{{ projet.url }}"
                target="_blank">{{ projet.url }}</a></p>
          </li>
          {% endif %}
          <li class="list-group-item pb-3">
            <p>Technologies utilisées :</p>
            {% for techno in projet.technologies %}
            <span class="badge bg-secondary">{{ techno.nom }}</span>
            {% endfor %}
          </li>
        </ul>
        <div class="p-2"><img class="bd-placeholder-img card-img-top px-5 pb-5"
            src="{{ asset(portfolio_images ~ projet.file) | imagine_filter('portfolio_detail') }}"
            alt="image_projet"></img></a>
          <small class="text-muted pb-2"><i
              class="fa-regular fa-calendar mx-2"></i>{{ projet.dateRealisation|date("d/m/Y") }}</small>
        </div>
      </div>
    </div>
</section>
{% endblock %}