{% extends 'base.html.twig' %}

{% block title %}Portfolio de fvwebsite{% endblock %}

{% block body %}
{# Section portfolio pao #}
<section class="container-fluid bg-light px-lg-5 py-lg-3">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Portfolio</h2>
        <div class="album py-2">
            {% include "base/nav-portfolio.html.twig" %}

            <div class="row row-cols-sm-1 row-cols-md-3 g-4">
                {% for portfolios in portfolioPao %}
                {% for images in portfolios.images %}
                <figure class="figure col-4 text-center">
                    <img src="{{ asset(portfolio_images ~ images) | imagine_filter('portfolio_pao') }}"
                        class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">{{ portfolios.nom }}</figcaption>
                </figure>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center pt-4">
                {% do portfolioPao.setPageRange(2) %}
                {{ knp_pagination_render(portfolioPao, 'base/pagination.html.twig') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}