{% extends 'base.html.twig' %}

{% block title %}Technologie{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="p-3" id="icon-grid">
            <h2 class="pb-2 border-bottom">Détails de la technologie utilisée</h2>
            <div class="col d-flex align-items-start">
                <div>
                    <h5 class="fw-bold mb-0"><i class="{{ techno.file }} ms-2 me-1"></i>{{ techno.nom }}</h5>
                    <p class="mt-2">{{ techno.description }}</p>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}