{# Section technologies #}
<section class="container-fluid px-lg-5">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Technologies
            utilisées</h2>
        <p class="py-2">Ce site a été développé en <strong>PHP</strong> avec le Framework <strong>Symfony</strong> de
            SensioLabs (Société française).
            Il regroupe la plupart des technologies et services que j'utilise pour d'autres projets.
            Il me permet également d'expérimenter et valider certaines fonctionnalités.
            Par exemple, il utilise une base de donnée MySql et offre la possibilité de modifier une grande partie du
            contenu via un backoffice ou de filtrer l'affichage de certaines pages en fonction de l'utilisateur (Un peu
            à la manière de nombreux CMS comme Wordpress, Joomla, ...).
            D'une manière générale, je privilégie les solutions "open-source" ou "libre". L'Open Source est une méthode
            d'ingénierie qui prévilégie l'accès libre au code source et permet l'adaptabilité aux besoins spécifiques.
            L'évolution et la sécurité du logiciel sous cette licence, sont développées et suivies par une très grande
            communauté d'utilisateurs et développeurs indépendants.</p>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 py-2 text-color-primary">
            {% for categorieTech in categoriesTech %}
            <div class="col d-flex align-items-start pt-2">
                <div>
                    <div class="fw-bold mb-2 text-color-primary"><strong>{{ categorieTech.nom }} </strong>:</div>
                    {% for cat in categorieTech.technologies %}
                    <span class="p-0">
                        <span class="pe-2"><i class="me-1 {{ cat.file }}"></i>{{ cat.nom }}</span>
                    </span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-grid gap-2 col-md-4 col-xl-2 mx-auto pb-4">
            <button class="btn btn-primary mt-5 text-white" type="button"
                onclick="window.location.href = '{{ path('app_categories_technologies') }}'">En savoir +</button>
        </div>
    </div>
</section>