{% extends 'base.html.twig' %}

{% block title %}Technologies{% endblock %}

{% block body %}
    <section class="container-fluid px-lg-5 py-lg-3">
        <div class="p-3" id="icon-grid">
            <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Technologies utilisées</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 g-4 py-3">
                {% for categorieTech in categoriesTech %}
                <div class="col d-flex align-items-start">
                    <div>
                        <h5 class="fw-bold mb-0">{{ categorieTech.nom }} :</h5>
                        <p>{{ categorieTech.description }}</p>
                        <ul class="p-0">
                            {% for cat in categorieTech.technologies %}
                            <li>
                                <i class="{{ cat.file }}"></i> <span class="me-3">{{ cat.nom }}</span>
                                <p>{{cat.description}}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
