{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Administration fvwebsite.com !{% endblock %}

{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Administration</h1>
        </div>
        <p class="px-2">Bienvenue dans le backoffice</p>
    </main>
{% endblock %}