$primary: #677f9a;

@import "~bootstrap/scss/bootstrap";
@import "/assets/styles/scss/theme/styles";
@import "/fontawesome/scss/fontawesome";

// loader
.loader {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #677f9a;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    transition: left 0.4s, transform 0.4s;
}

.lettre {
    color: whitesmoke;
    font-size: 1.50em;
    letter-spacing: 0.25em;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #677f9a;
        text-shadow: 0 0 7px #677f9a;
    }

    90% {
        color: white;
    }

    100% {
        color: #677f9a;
    }
}

.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.lettre:nth-child(4) {
    animation-delay: 0.4s;
}

.lettre:nth-child(5) {
    animation-delay: 0.5s;
}

.lettre:nth-child(6) {
    animation-delay: 0.6s;
}

.lettre:nth-child(7) {
    animation-delay: 0.7s;
}

.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

.lettre:nth-child(9) {
    animation-delay: 0.9s;
}

.lettre:nth-child(10) {
    animation-delay: 1s;
}

.fondu-out {
    z-index: 1;
    transform: translateX(-100%);
}

@media (max-width: 991.98px) {
    .fondu-out {
        z-index: 1;
        transform: translateY(-100%);
    }
}

// fin loader

.text-color-primary {
    color: #677f9a;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.image-head {
    display: block;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

// agrandir image profil
.modal-fv {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-fv.show {
    display: initial;
}

.modal-fv-content {
    width: 90%;
    margin: auto;
    max-width: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-fv-content img {
    width: 90%;
}

.close {
    color: white;
    font-size: 2em;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: rgba(0, 0, 0, .3);
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (max-width: 991.98px) {
    .btn-contact {
        max-width: 12rem;
    }

    .image-head {
        width: 90%;
    }

    //head sur petit écran
    .head {
        height: 150px;
    }

    .content {
        font-size: 30px;
        left: 188px;
        top: 140px;
    }

    .content__container__list {
        padding-left: 164px;
        white-space: nowrap;
    }
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

.guide {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    max-width: 14rem;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}

.active-portfolio {
    color: #4b5d71;
    text-decoration-line: overline;
}

ul {
    list-style: none;
}

#header {
    transition: all 1s;
    z-index: 1;
}

.header {
    transition: all 1s;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer {
    background: #677f9a;
}

// Axeptia
.bepVfn svg path {
    fill: #4b5d71;
}