<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Demande de {{ contact.prenom }} {{ contact.nom }}</h1>
        <p>Email : {{ contact.email }}</p>
        <p>Objet du message : {{ contact.objet }}</p>
        <p>Message :</p>
        <div>
            {{ contact.message | raw }}
        </div>
    </body>
</html>
