<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- //Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset(favicon ~ 'apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset(favicon ~ 'apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset(favicon ~ 'apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset(favicon ~ 'apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset(favicon ~ 'apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset(favicon ~ 'apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset(favicon ~ 'apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset(favicon ~ 'apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset(favicon ~ 'apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset(favicon ~ 'android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset(favicon ~ 'favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset(favicon ~ 'favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset(favicon ~ 'favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset(favicon ~ 'manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset(favicon ~ 'ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>
        {% block title %}
        Bienvenue
        {% endblock %}
    </title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2T5NW94MBD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push( arguments ); }
        gtag( 'js', new Date() );

        gtag( 'config', 'G-2T5NW94MBD' );

        // Ajout code pour consentement RGPD avec Axeptio
        window.axeptioSettings = {
            clientId: "63886e886f052a98adf83f79",
            cookiesVersion: "fvwebsite-fr",
        };

        ( function ( d, s ) {
            var t = d.getElementsByTagName( s )[0], e = d.createElement( s );
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore( e, t );
        } )( document, "script" );

        function loadGoogleAnalyticsTag() {
            ( function ( i, s, o, g, r, a, m ) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    ( i[r].q = i[r].q || [] ).push( arguments )
                }, i[r].l = 1 * new Date(); a = s.createElement( o ),
                    m = s.getElementsByTagName( o )[0]; a.async = 1; a.src = g; m.parentNode.insertBefore( a, m )
            } )( window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga' );

            // Modifier la valeur UA-XXXXX-Y par votre UA
            ga( 'create', 'G-2T5NW94MBD', 'auto' );
            ga( 'send', 'pageview' );
        }
    </script>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>

<body>
    <div class="loader">
        <span class="lettre">C</span>
        <span class="lettre">H</span>
        <span class="lettre">A</span>
        <span class="lettre">R</span>
        <span class="lettre">G</span>
        <span class="lettre">E</span>
        <span class="lettre">M</span>
        <span class="lettre">E</span>
        <span class="lettre">N</span>
        <span class="lettre">T</span>
    </div>
    <div class="main-wrapper">
        {% include 'base/nav.html.twig' %}
        {% block body %}

        {% endblock %}
        {% include 'base/footer.html.twig' %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </div>
</body>

</html>