<section class="container-fluid bg-light px-lg-5 pt-5">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-2 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Outils de gestion - GRC - Caisse</h2>
    </div>
    <p class="p-3">Les outils numériques de gestion ont pris une place stratégique dans l'organisation et la rentabilité de l'entreprise. Il est aujourd'hui plus que nécessaire d'avoir un système d'information/gestion solide et fiable. C'est pourquoi je vous propose des applicatifs qui vous correspondent, et vous permettent de garder la maîtrise totale de vos données sensibles.</p>
    <div class="p-4">
        <h5 class="text-color-primary"><a href="https://www.dolibarr.org/" target="_blank"><i class="me-2 mb-1 fa-solid fa-money-bill-trend-up"></i>Dolibarr</a></h5>
        Le logiciel Dolibarr, sous licence GNU/GPL (GNU General Public License), est une application Web qui offre une solution complète de gestion de votre entreprise ou de votre association.
        Grace au modèle FOSS (Free Open Source Software) et la contribution de milliers de développeurs, testeurs et utilisateurs, Dolibarr vous offre la totale maîtrise de votre gestion.
        Ne dépendez plus d'un éditeur de logiciel sous licence privée, devenez l'unique propriétaire de vos données.
        Dolibarr donne accès aux fonctionnalités de la relation clients, fournisseurs, édition des devis, commandes, factures, gestion des stocks, de votre comptabilité, des Ressources Humaines et bien d'autres encore.
        C'est une application disponible sur toutes les plateformes (Windows, MacOS, Linux, IOS, Android, ...).
        <a href="https://www.dolibarr.org/fr/dolibarr-et-la-loi-de-finance-2016.php" target="_blank" rel="noopener noreferrer"> Ce progiciel est parfaitement compatible avec la loi finance 2018.</a>
        L'interface est personnalisable ainsi que certaines fonctionnalités. 
        <p><strong>Pour une meilleur gestion de votre entreprise, je vous propose de mettre à disposition toutes mes compétences en réseaux et développement web pour l'installation, la configuration et la personnalisation de votre Dolibarr, un logiciel libre et accessible à tous.</strong></p>
    </div>
    <div class="d-grid gap-2 col-md-4 col-xl-2 mx-auto pb-5">
        <button class="btn btn-primary mt-5 text-white" type="button" onclick="window.location.href = '{{ path('app_gestion') }}'">En savoir +</button>
    </div>
</section>
