{% extends 'base.html.twig' %}

{% block title %}Outils de gestion{% endblock %}

{% block body %}
<section class="container-fluid px-lg-5 py-lg-3">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-3 border-bottom text-color-primary"><i class="fa-solid fa-terminal me-2"></i>Outils de gestion -
            GRC</h2>
    </div>
    <div class="p-4">
        <h3><a href="https://www.dolibarr.org/" target="_blank"><i
                    class="me-2 mb-1 fa-solid fa-money-bill-trend-up"></i>Dolibarr</a></h3>
        <p>Dolibarr ERP/CRM est un progiciel de gestion intégrée et gestion de la relation client pour les entreprises
            de toute tailles. De la PME au grand groupe mais aussi pour les indépendants, auto-entrepreneurs ou les
            associations, il comporte de nombreuses fonctionnalités qui répondent à toutes les activités.
            C'est un logiciel sous forme d'application web qui fonctionne sur toutes les plateformes (Windows, Mac,
            Linux, smpartphones, ...). Il peut être hébergé sur un serveur local ou sur un serveur distant et
            <br><strong><a href="https://www.dolibarr.org/fr/dolibarr-et-la-loi-de-finance-2016.php" target="_blank"> Il
                    est parfaitement compatible avec la dernière loi finance 2018.</a></strong>
        </p>
        <div class="pb-4 text-center pt-2">
            <h4>Principales fonctionnalités de Dolibarr</h4>
        </div>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center py-3 bg-light">
            <div class="d-flex flex-column align-items-start gap-2">
                <h5 class="fw-bold">GRC (Gestion de Relation Client) et commercialisation</h5>
                <p class="text-muted">La gestion de la relation client avec Dolibarr vous permet de suivre et identifier
                    vos prospects et clients. Saisir les opportunités commerciales selon vos projets ...</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-address-card"></i>
                        <h6 class="fw-semibold m-1">Prospect - Clients</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-shop-lock"></i>
                        <h6 class="fw-semibold m-1">Opportunités commerciales</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <h6 class="fw-semibold m-1">Devis</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <h6 class="fw-semibold m-1">Commandes</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-file-signature"></i>
                        <h6 class="fw-semibold m-1">Contrats et abonnements</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-ticket-simple"></i>
                        <h6 class="fw-semibold m-1">Service - assistance/suivi incident</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-cash-register"></i>
                        <h6 class="fw-semibold m-1">Point de vente - caisse</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center py-3">
            <div class="d-flex flex-column align-items-start gap-2 pt-2">
                <h5 class="fw-bold">Finance et facturation</h5>
                <p class="text-muted">Fonctionnalités essentielles pour votre gestion : la gestion de la facturation et
                    votre comptabilité.</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                        <h6 class="fw-semibold m-1">Facturation - paiements</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-list-check"></i>
                        <h6 class="fw-semibold m-1">Rapprochement bancaire</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-piggy-bank"></i>
                        <h6 class="fw-semibold m-1">Comptabilité</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center bg-light py-3">
            <div class="d-flex flex-column align-items-start gap-2">
                <h5 class="fw-bold">Productivité - gestion de projets</h5>
                <p class="text-muted">Dolibarr vous permet de suivre et gérer vos projets ainsi que les interventions à
                    distance ou sur site</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-bars-progress"></i>
                        <h6 class="fw-semibold m-1">Gestion de projets - Tâches</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-clipboard-question"></i>
                        <h6 class="fw-semibold m-1">Interventions</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-regular fa-calendar-days"></i>
                        <h6 class="fw-semibold m-1">Agenda</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center py-3">
            <div class="d-flex flex-column align-items-start gap-2 pt-2">
                <h5 class="fw-bold">Gesion des relations Humaines</h5>
                <p class="text-muted">La gestion RH est souvent très chronophage, le progiciel apporte un gain de temps
                    et vous offre la possibilité de vous concentrer sur l'essentiel.</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-clipboard-user"></i>
                        <h6 class="fw-semibold m-1">Employés</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-gas-pump"></i>
                        <h6 class="fw-semibold m-1">Notes de frais</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-person-circle-check"></i>
                        <h6 class="fw-semibold m-1">Recrutement</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-users-between-lines"></i>
                        <h6 class="fw-semibold m-1">Gestion associations</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center bg-light py-3">
            <div class="d-flex flex-column align-items-start gap-2">
                <h5 class="fw-bold">Produit et Stock</h5>
                <p class="text-muted">Gérer vos catalogues de produits, votre fabrication et la logistique.</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-cubes-stacked"></i>
                        <h6 class="fw-semibold m-1">Produits - Services</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-warehouse"></i>
                        <h6 class="fw-semibold m-1">Gestion des stocks</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-industry"></i>
                        <h6 class="fw-semibold m-1">Fabrication - Achat</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-truck"></i>
                        <h6 class="fw-semibold m-1">Expéditions</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center py-3">
            <div class="d-flex flex-column align-items-start gap-2 pt-2">
                <h5 class="fw-bold">Intégration - Développement</h5>
                <p class="text-muted">L'une des forces de Dolibarr est l'inter-connectivité avec d'autres services. Le
                    logiciel utilise des langages de développement facilement inplémentables (selon possibilités
                    laissées par le service externe).</p>
            </div>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-gears"></i>
                        <h6 class="fw-semibold m-1">API</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-network-wired"></i>
                        <h6 class="fw-semibold m-1">Connectivité aux outils externes</h6>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2 py-3">
                    <div class="feature-icon-small d-inline-flex align-items-start  bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-file-export"></i>
                        <h6 class="fw-semibold m-1">Import - export de fichiers</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}