{% extends 'base.html.twig' %}

{% block title %}Guides selon projet{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="p-3" id="icon-grid">
            <h2 class="pb-2 border-bottom">Projets</h2>
        
            <div class="col d-flex align-items-start">
                {% for guides in guide %}
                    <div>
                        <h5 class="fw-bold mb-0">{{ guides.nom }}</h5>
                        <img class="img-thumbnail w-25" src="{{ asset(guide_images ~ guides.file) }}" alt="{{ guides.nom }}">
                        <p>{{ guides.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
