{% extends 'base.html.twig' %}

{% block title %}Theme du guide{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="p-3" id="icon-grid">
            <h2 class="pb-2 border-bottom">Thèmes</h2>
        
            <div class="col d-flex align-items-start">
                <div>
                    <h5 class="fw-bold mb-0">{{ theme.nom }}</h5>
                    <img class="img-thumbnail w-25" src="{{ asset(guide_images ~ theme.images) }}" alt="{{ theme.nom }}">
                    <p>{{ theme.description }}</p>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}
