{% extends 'base.html.twig' %}

{% block title %}Guides{% endblock %}

{% block body %}
<section class="container-fluid">
    <div class="p-3" id="icon-grid">
        <h2 class="pb-2 border-bottom">Guides et formations</h2>
        <p class="pt-2">
            <strong>Bienvenue dans la section pédagogique</strong><br>
            En fonction de votre identifiant/mot de passe et l'accès autorisé, vous avez accès à des guides, des
            procèdures ou formations qui vont vous aidez dans l'utilisation des applications misent à disposition par
            fvwebsite.
        </p>
        {% if not is_granted('ROLE_USER') %}
        <h4>Pour accéder aux guides, vous devez vous connecter avec votre indentifiant et mot de passe</h4>
        <a class="btn btn-primary" href="{{ path('app_login') }}">Me connecter</a>
        <p class="pt-5"><a href="{{ path('app_register') }}">Certaines parties sont accèssibles à tous après
                enregistrement via le formulaire d'inscription</p></a>
        <a class="btn btn-primary" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté(e) comme <strong>{{ app.user.userIdentifier }}</strong>
            <div>
                <a class="btn btn-lg btn-primary mt-3" href="{{ path('app_logout') }}">Me déconnecter</a>
            </div>
        </div>
        {% endif %}
        {% for categorieGuides in categorieGuide %}
        <div class="col pb-2">
            <h5 class="fw-bold mb-0"><i class="{{ categorieGuides.file }} ms-2 me-1"></i><a
                    href="{{ path('guide', {'slug': categorieGuides.slug}) }}">{{ categorieGuides.nom }}</a>
            </h5>
            <div class="m-2">
                {{ categorieGuides.description }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}